DATABASE_URL='access to database'
PORT='port number'
JWT_SECRET='token signing secret'
JWT_EXPIRES='time for token expiry'
REFRESH_TOKEN_SECRET='token signing secret'
REFRESH_TOKEN_EXPIRES='time for token expiry'