.layout {
    padding-top: var(--topbar-height);
    width: var(--mid-column-width);
    display: flex;
    flex-direction: column;
}

.moreButton {
    border: none;
    background-color: transparent;
    margin-top: 10px;
}

.moreButton:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.emptyDatabase {
    justify-self: center;
    color: grey;
    margin: 20px;
}


/* The other layout is in TopBar.module.css */
/* .layout2 {
    display: flex;
    flex-direction: column;
    width: 100%; 
} */

