* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.center {
  justify-self: center;
}

/* main-grid Styling */
.main-grid {
  display: grid;
  grid-template-columns: 10% 1fr;

  height: 100vh;
  width: 100vw;
}

.page-grid {
  padding: 5px 10px 0px 10px;
  grid-column-start: 2;

  display: grid;
  grid-template-rows: 10% 90%;
}

.header {
  grid-row-start: 1;
  border-bottom: 0.1px solid hsl(0, 0%, 80%);
  padding: 5px 5px 2px 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  font-weight: 100;
  font-size: 0.8rem;
}

.content {
  padding: 10px 0px 0px 0px;
  grid-row-start: 2;
  /* border: 1px dashed black; */
}

/* sideBar Styling */
.sideBar-grid {
  position: relative;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  padding: 10px 0px 10px 10px;
  border-radius: 0px 10px 10px 0px;

  box-shadow: 10px 0px 10px hsl(0, 0%, 90%);
}

.sideBar-main {
  grid-row-start: 1;
}

.landing-button {
  height: 90%;
  width: 90%;
  border: none;
  font-size: 90%;
  font-weight: 100;
  border-radius: 10px;
}

.landing-button:hover {
  background-color: lightblue;
}

.handle {
  position: absolute;
  right: 0;
  background-color: transparent;
  width: 2%;
  height: 100%;
  cursor: ew-resize;
}

.sideBar-lists {
  grid-row-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.sideBar-control {
  margin: 5px 0px 0px 0px;
  grid-row-start: 3;

  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.list {
  display: flex;
  gap: 5px;
  width: 90%;
  align-items: center;
}

.listName-button {
  margin: 5px;
  border: none;
  background-color: transparent;
}

.listName-button:hover {
  text-decoration: underline;
}

.addTaskItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  grid-template-rows: 1fr 1fr;
  padding: 0px 0px 10px 10px;
  width: 100%;
  align-items: start;
}

.inputCheckMark {
  grid-column-start: 1;
  grid-row-start: 1;

  align-self: center;
}

.inputTitle {
  grid-column-start: 2;
  grid-row-start: 1;

  font-size: 1rem;
  font-weight: 700;
  border: none;

  width: 100%;
  outline: none;
  caret-color: blue;

  opacity: 50%;
}

.desc {
  padding-left: 20px;
}

.inputDescription {
  grid-column-start: span 2;
  grid-row-start: 2;

  font-size: 0.8rem;
  font-weight: 100;
  border: none;
  padding-left: 20px;

  width: 100%;
  outline: none;
  caret-color: blue;
  color: grey;
}

input::placeholder {
  opacity: 1.5;
  color: lightblue;
}

.inputList {
  font-size: 0.8rem;
  font-weight: 1 100;
  border: none;
  justify-self: center;
  align-self: center;

  width: 100%;
  outline: none;
  caret-color: blue;

  opacity: 50%;

  margin: 5px;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
}


/* ListItem Styling */
.listItem-grid {
  display: flex;
  flex-direction: column;

  padding: 0px 0px 10px 10px;
}

.listItem-main-row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;

  font-size: 1rem;
  font-weight: 700
}

.listItem-second-row {
  display: flex;
  flex-direction: column;
  padding: 2px 0px 0px 0px;

  font-size: 0.8rem;
  font-weight: 100;
  color: grey;
}

.listItem-third-row {
  display: flex;
  margin-top: 5px;
  padding-bottom: 5px;

  gap: 20px;
  align-items: center;
}

.listItem-third-row>div {
  display: flex;
  gap: 2px;
  align-items: center;
}

.checked-status {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  position: relative;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.checked-status:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
}

.right-bottom-corner {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: end;
  align-self: end;

  display: flex;
  gap: 5px;
}

/* Buttons customization */
.delete-button {
  background-color: red;
  color: black;
  font-weight: 1000;
  font-size: 0.7rem;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.delete-button::after {
  content: ""
}

.delete-button:hover::after {
  content: "X"
}

.urgency-button-resting {
  background-color: hsl(0, 0%, 90%);
  color: black;
  font-weight: 100;
  font-size: 0.5rem;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.urgency-button-clicked {
  background-color: orange;
  color: black;
  font-weight: 1000;
  font-size: 0.5rem;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.show-hide-button {
  background-color: transparent;
  border: none;

  font-size: 0.8rem;
  font-weight: 100;
}

.show-hide-button:hover {
  text-decoration: underline;
  color: lightblue;
}

.add-button {
  background-color: hsl(0, 0%, 90%);
  color: black;
  font-weight: 100;
  font-size: 0.7rem;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.add-button:hover {
  background-color: lightblue;
}

.completed {
  opacity: 0.4;
}

.pageName {
  grid-column-start: 1;
  grid-row-start: 1;

  font-size: 2rem;
  font-weight: 700;
}

.numberOfRemainingTasks {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
  align-self: start;

  font-size: 3rem;
  font-weight: 300;

}

.numberOfCompletedTasks {
  grid-column-start: 1;
  grid-row-start: 2;

  justify-self: start;
  align-self: end;
}

.edit-list-button {
  flex: 0 0 auto;
  aspect-ratio: 1 / 1;

  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;

  background-color: hsl(0, 0%, 90%);
  color: black;
  font-weight: 100;
  font-size: 0.7rem;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.edit-list-button:hover {
  background-color: lightblue;
}


.delete-list-button:hover {
  background-color: red;
}

.tracker {
  font-size: 0.8rem;
  align-self: center;
  margin-left: auto;
}