.layout {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 20px;
}

.layout a:hover {
    color: lightgrey;
    cursor: pointer;
}

a.active {
    color: grey;
}

a {
    text-decoration: none;
}