.layout {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    width: var(--mid-column-width);
    min-height: calc(var(--topbar-height) * 0.375);
    position: fixed;
    top: 0px;
    border-bottom: 1px solid var(--border);

    background-color: white;
}

.layout button {
    background: none;
    border: none;
    font-size: 0.7rem;
}

.layout button:hover {
    color: lightgrey;
    cursor: pointer;
}

p {
    cursor: default;
}